<div>
  <%= flash[:notice] %>
</div>
<div class="container text-center mt-5">
  <h1 class="font-weight-bold">
     Welcome to <i class="fa-solid fa-book"></i><span>Bookers</span> !!
  </h1>
  <p class="mt-4">
    In <i class="fa-solid fa-book"></i> <span>Bookers</span>, <br>
    you can share and exchange your opinions, impressions, and emotions <br>
    about various books!
  </p>

  <div class="mt-5">
    <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
  </div>
</div>
